{
    "presets": [["@babel/preset-env", { "modules": "commonjs" }]],
    "env": {
        "test": {
            "presets": [["@babel/preset-env", { "targets": { "node": "current" } }]]
        }
    }
}
