.flex {
    display: flex;

    &.align-center {
        align-items: center;
    }

    &.gap {
        gap: 1rem;
    }

    &.gap-small {
        gap: 0.5rem;
    }
}

.flex-auto {
    flex: 0 0 auto;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-animate {
    & > * {
        transition: flex animation(duration-short);
    }
}