$primary: #106164;
$secondary: #ffb400;

$colours: (
    white: #fff,

    black: #222,
    black-light: #444,
    black-dark: #000,

    grey: #ececec,
    grey-light: #fafafa,
    grey-dark: #d2d2d2,

    primary: $primary,
    primary-light: lighten($primary, 10%),
    primary-dark: darken($primary, 10%),

    secondary: $secondary,
    secondary-light: lighten($secondary, 10%),
    secondary-dark: darken($secondary, 10%),
);

@function theme($colour) {
    @return map-get($colours, $colour);
}