table {
    width: 100%;
    border-collapse: collapse;
    border-radius: layout(border-radius);
    overflow: hidden;

    @include box-shadow-small;

    thead {
        text-align: left;
        background-color: theme(primary);
        background: linear-gradient(-15deg, theme(primary-dark), theme(primary));
        color: theme(white);

        th {
            padding: 0.5rem 0.25rem;
        }
    }

    tbody {
        td {
            padding: 0.25rem;

            &.numerical {
                text-align: right;
            }
        }

        tr:nth-child(even) {
            background-color: theme(grey);
        }
    }
}
