.view-content {

    section {
        max-width: 720px;
        margin: 1rem auto;
        padding: 0 1rem;
    }

    h2 {
        padding: 1rem;
        background-color: theme(white);
        box-shadow: 2px -1px 6px rgba(0, 0, 0, 0.2) inset;

        span {
            display: block;
            max-width: 720px;
            margin: 0 auto;
        }
    }
}